.env
# datasets
proj_experimental_model_test/data_raw
proj_experimental_model_test/data_proc
proj_experimental_model_test/real_estate_archive.db
*.csv

# pychache
__pycache__/
*.py[cod]
*$py.class

.DS_Store
.idea/
.venv/
data_raw/
